.top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  padding: 0 10px;
}

.dropdown-button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-button {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
